<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.span.expressextension8868"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.span.expressextension8868.utils.utility.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.span.expressextension8868.controller.controller.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.LoginActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.TaxpreparerActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.EditCPAactivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.NewuserCongratulations"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="com.span.expressextension8868.controller.controller.Forgetpassword"
            android:theme="@style/MyActivityDialogTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.DashboardActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.AddExemptOrganization"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>


        <activity
            android:name="com.span.expressextension8868.controller.controller.TaxYearActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.ExtensionTypeActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.HoldingPopUpActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.span.expressextension8868.controller.controller.WebActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>


        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
    </application>

</manifest>